<div class="about-us">
  <div class="chef_image">
    <img src="WhatsApp Image 2024-01-19 at 00.27 1.png" alt="chef" />
  </div>
  <div class="row">
    <div class="col-12 col-lg-8 col-md-8 col-sm-12 bg">
      <div
        class="text p-5 d-flex flex-column justify-content-start align-items-start"
      >
        <h1>ABOUT US</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
        <button class="btn btn-primary">CONTACT US</button>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-4 col-sm-12"></div>
  </div>
</div>
