<div class="row main__page">
  <div class="bread">
    <img src="bread.png" alt="hero__photo" class="bread" />
    <div class="telephone mt-2">
      <h1>
        Telephone:
        <p>+7 700 000 00 00</p>
      </h1>
      <div class="d-flex links">
        <img src="brandico_facebook-rect.png" alt="facebook" />
        <img src="ant-design_twitter-outlined.png" alt="twitter" />
        <img src="bx_bxl-instagram-alt.png" alt="insta" />
        <img src="bx_bxl-vk.png" alt="vk" />
      </div>
    </div>
  </div>
  <div
    class="col-12 col-lg-7 col-md-7 col-sm-12 hero__text d-flex justify-content-center flex-column align-items-center"
  >
    <div
      class="text d-flex justify-content-center flex-column align-items-center align-items-xl-start p-5"
    >
      <h1>Tasty pastries</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the
      </p>
      <button class="btn btn-primary">SEE MORE</button>
    </div>
  </div>
  <div class="col-12 col-lg-5 col-md-5 col-sm-12 hero__photo"></div>
</div>
<div class="contact row">
  <div class="links col-2">
    <div class="d-flex justify-content-end align-items-end flex-column img-links">
      <img src="brandico_facebook-rect.png" alt="facebook" />
      <img src="ant-design_twitter-outlined.png" alt="twitter" />
      <img src="bx_bxl-instagram-alt.png" alt="insta" />
      <img src="bx_bxl-vk.png" alt="vk" />
    </div>
  </div>
  <div class="telephone col ">
    <h1>
        Telephone:
        <p>+7 700 000 00 00</p>
      </h1>
  </div>
  <div class="null col"></div>
</div>
