.main__page {
  position: relative;
  .bread {
  position: absolute;
  top: 10%;
  left: 40%;
  .breadImg{
    width: 500px;
    height: 500px;
  }
  
    .links ,.telephone{
      @media screen and (min-width: 768px) {
        display: none !important;
      }
      // margin-left: 15%;

      img {
        width: 20px;
        height: 20px;
      }
    }
    position: absolute;

   
   
  }
  .hero__text {
    @media screen and (min-width: 500px) {
      height: 100vh;
    }
    background: url("../../../assets/Rectangle\ 264.png");

    color: #ffffff;
    height: 50vh;
    .text {
      h1 {
        font-weight: 800;
        @media screen and (min-width: 701px) {
          font-size: 7rem;
        }
        @media screen and (max-width: 700px) {
          font-size: 2rem;
        }
      }
      p {
        @media screen and (min-width: 701px) {
          font-size: 1.2rem;
          text-align: start;
          width: 70%;
        }
        @media screen and (max-width: 700px) {
          font-size: 1rem;
          text-align: center;
          padding: 1rem;
        }
      }
      .btn-primary {
        @media screen and (min-width: 701px) {
          padding: 1rem 3rem;
          font-size: 1.5rem;
        }
        background: #fdba10;
        font-weight: bold;
        border-radius: 30px;
        border: none;
        padding: 0.5rem 1rem;
      }
    }
  }
  .hero__photo {
    background: url("../../../assets/Mask\ Group.png");

    @media screen and (min-width: 500px) {
      height: 100vh;
    }
    height: 50vh;
  }
  @media screen and (max-width:768px) {
    .bread{
      position: absolute;
      top: 45%;
      left:30%;
      .breadImg{
        width: 300px;
        height: 300px;
      }
      
    }
    
  }
}
.contact {
  @media screen and (max-width: 700px){
    display: none;
  }
  
  .links {
    background: url("../../../assets/Mask\ Group.png");
    background-size: cover;

    height: 15vh;
    .img-links {
      gap: 5px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .telephone {
    background: url("../../../assets/Rectangle\ 264.png");
    background-size: cover;
    height: 15vh;
    position: relative;
    
    h1{
      font-weight: 800;
      position: absolute;
      bottom: 0;
      
      font-size: 18px;
      font-family: 'poppins', sans-serif !important;
      color: #ffffff;
      p{
        display: inline-block;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 2px;
      }
    }
  }
  .null {
    background: url("../../../assets/Mask\ Group.png");
    background-size: cover;

    height: 15vh;
  }
}
